* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background: #f3f3f3;
}
nav {
  background: white;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
nav .nav-links {
  display: flex;
}

nav .nav-links a {
  text-decoration: none;
  color: teal;
  display: block;
  padding: 10px;
  font-weight: bolder;
  line-height: 30px;
}
nav .nav-links a:hover {
  background: teal;
  color: white;
}

nav .nav-links a.active {
  background: teal;
  color: white;
}

nav i {
  padding: 5px;
  cursor: pointer;
  color: teal;
}
nav .toggle {
  display: none;
}

/* Sidenav */
.sidenav-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  transform: translateX(-100vw);
  transition: all 0.5s ease-in-out;
}

.sidenav-container.show {
  transform: translateX(0);
}

.sidenav-content {
  background: teal;
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.sidenav-content ul {
  width: 100%;
  padding: 0px 20px;
}

.sidenav-content i {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.sidenav-content ul {
  list-style: none;
}

.sidenav-content ul li {
  padding: 7px 0;
}
.sidenav-content ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 16px;
}
.sidenav-content ul li a:hover {
  font-size: 17px;
}

/* to top */
.to-top {
  position: fixed;
  right: 10px;
  bottom: 20px;
  background: teal;
  padding: 10px;
  font-size: 25px;
  color: white;
  opacity: 0.7;
  transform: translateX(110vw);
}
.to-top.show {
  transform: translateX(0);
  transition: transform 0.7s ease;
}

/* Name */
.header-title {
  width: 100%;
  height: 60px;
  background: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  color: white;
  padding: 15px;
}
.header-title h2 {
  padding: 20px;
}
.header-title span {
  color: #000;
}

/* Main Content */

main {
  background: #f3f3f3;
  padding: 20px 50px;
  display: flex;
}

/* Left CV */

main .left {
  padding-left: 20px;
}

.cv-left-personal-info img {
  border-radius: 50%;
  height: 250px;
  text-align: center;
  width: 250px;
  margin: 0 auto;
}
.cv-left-personal-info p {
  margin: 25px 0;
  display: flex;
}
.cv-left-personal-info p a {
  text-decoration: none;
  color: black;
}
.cv-left-personal-info p i {
  font-size: 18px;
  color: teal;
  margin-right: 10px;
}
.cv-left-menu {
  position: sticky;
  top: 48px;
  margin-left: 5px;
}
.cv-left-menu ul {
  list-style: none;
  margin-left: -12px;
}

.cv-left-menu ul li {
  display: block;
  background: teal;
  line-height: 35px;
  text-align: center;
  border-bottom: 2px solid #f3f3f3;
}
.cv-left-menu ul li a {
  text-decoration: none;
  color: #f3f3f3;
  text-transform: uppercase;
  display: block;
}
/* Right CV */

main .right {
  padding: 20px 10px 20px 30px;
}

.right div {
  margin-bottom: 25px;
  padding: 15px;
  background: white;
}
.right div h3 {
  background: teal;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-size: 28px;
  color: white;
  margin-bottom: 25px;
}

/* Biography */
.biography p span {
  font-weight: bold;
}

/* Education */
.education p {
  margin-bottom: 20px;
}

/* Experience */
.experience p {
  margin-bottom: 20px;
}

/* Projects */
.projects a:first-child {
  color: black;
  text-decoration: none;
}

.projects h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.projects p {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 18px;
}

.projects h5 {
  margin-bottom: 10px;
  font-size: 18px;
}

.projects ul {
  padding: 10px 25px;
}
.projects iframe {
  width: 100%;
  height: 350px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.projects .view {
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  background: black;
  color: white;
  padding: 10px;
}

.projects .view:hover {
  background: rgb(2, 104, 104);
}

/* hobbies */

.hobbies ul {
  list-style: none;
}

.hobbies ul li:before {
  content: "\269F";
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}

/* Spoken Languages */

.spoken-languages ul {
  list-style: none;
}

.spoken-languages ul li:before {
  content: "\2606";
  margin-right: 10px;
  font-size: 22px;
  font-weight: bold;
}

/* programming-languages */

.programming-languages ul {
  list-style: none;
}

.programming-languages ul li:before {
  content: "\261B";
  margin-right: 10px;
  font-size: 22px;
  font-weight: bold;
}

/* Reference */

.references ul {
  list-style: none;
}

.references ul li {
  margin-bottom: 20px;
}

/* Media queries */

@media (max-width: 900px) {
  nav .toggle {
    display: block;
  }
  /* Name */
  .header-title {
    font-size: 32px;
  }
  .header-title h2 {
    padding: 10px;
  }

  .to-top {
    right: 5px;
  }

  main {
    flex-direction: column;
    padding: 10px;
  }
  main .left {
    padding-left: 0;
  }

  .cv-left-personal-info {
    display: flex;
  }

  .cv-left-personal-info img {
    height: 200px;
    width: 200px;
    margin-left: 0;
    display: block;
    margin: 10px auto;
  }
  .cv-left-personal-info p {
    margin-left: 10px;
  }

  .cv-left-menu {
    display: none;
  }

  .right div h3 {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .sidenav-content {
    width: 70%;
  }
  /* Name */
  .header-title {
    font-size: 22px;
  }
  .header-title h2 {
    padding: 5px;
  }
  .cv-left-personal-info {
    flex-direction: column;
  }

  .cv-left-personal-info p {
    margin-left: 50px;
  }

  main .right {
    padding: 5px;
  }

  .right div h3 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
  /* Name */
  .header-title {
    font-size: 18px;
  }
  .header-title h2 {
    padding: 3px;
  }
  .cv-left-personal-info {
    flex-direction: column;
  }

  .cv-left-personal-info p {
    margin-left: 15px;
  }

  main .right {
    padding: 3px;
  }

  .right div h3 {
    font-size: 18px;
  }
}
