* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

/* to top */
.to-top {
  position: fixed;
  right: 10px;
  bottom: 20px;
  background: teal;
  padding: 10px;
  font-size: 25px;
  color: white;
  visibility: hidden;
  transition: visibility 0.3s ease;
}

header {
  height: 200px;
}

/* Wallpaper */
.wallpaper {
  width: 100%;
  height: 75%;
}
.wallpaper img {
  width: 100%;
  height: 100%;
}

/* Name */
.name {
  width: 100%;
  height: 25%;
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  color: white;
  padding: 15px;
}
.name h2 {
  padding: 20px;
}
.name span {
  color: #000;
}

/* Main Content */

main {
  background: #f3f3f3;
  padding: 20px 50px;
  display: flex;
}

/* section {
  border: 2px solid black;
} */

/* Left CV */

main .left {
  padding-left: 20px;
}

.cv-left-personal-info img {
  border-radius: 50%;
  height: 250px;
  text-align: center;
  width: 250px;
  margin: 0 auto;
}
.cv-left-personal-info p {
  margin: 25px 0;
  display: flex;
}
.cv-left-personal-info p a {
  text-decoration: none;
  color: black;
}
.cv-left-personal-info p i {
  font-size: 18px;
  color: teal;
  margin-right: 10px;
}
.cv-left-menu {
  position: sticky;
  top: 0;
}
.cv-left-menu ul {
  list-style: none;
  margin-left: -20px;
}

.cv-left-menu ul li {
  display: block;
  background: teal;
  line-height: 50px;
  text-align: center;
  border-bottom: 2px solid #f3f3f3;
}
.cv-left-menu ul li a {
  text-decoration: none;
  color: #f3f3f3;
  text-transform: uppercase;
  display: block;
}
/* Right CV */

main .right {
  padding: 20px 10px 20px 30px;
}

.right div {
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
  padding: 25px;
}
.right div h3 {
  background: salmon;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  font-size: 32px;
  color: teal;
  margin-bottom: 25px;
}

/* Biography */
.right .biography p span {
  font-weight: bold;
}

/* Education */
.right .education p {
  margin-bottom: 20px;
}

/* Experience */
.right .experience p {
  margin-bottom: 20px;
}

/* hobbies */

.right .hobbies ul {
  list-style: none;
}

.right .hobbies ul li:before {
  content: "\269F";
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}

/* Spoken Languages */

.right .spoken-languages ul {
  list-style: none;
}

.right .spoken-languages ul li:before {
  content: "\2606";
  margin-right: 10px;
  font-size: 22px;
  font-weight: bold;
}

/* programming-languages */

.right .programming-languages ul {
  list-style: none;
}

.right .programming-languages ul li:before {
  content: "\261B";
  margin-right: 10px;
  font-size: 22px;
  font-weight: bold;
}

/*  */

.right .references ul {
  list-style: none;
}

.right .references ul li {
  margin-bottom: 20px;
}

/* Media queries */

@media (max-width: 800px) {
  /* Name */
  .name {
    font-size: 32px;
  }
  .name h2 {
    padding: 10px;
  }

  .to-top {
    right: 5px;
  }

  main {
    flex-direction: column;
    padding: 20px;
  }
  main .left {
    padding-left: 0;
  }

  .cv-left-personal-info {
    display: flex;
  }

  .cv-left-personal-info img {
    height: 200px;
    width: 200px;
    margin-left: 0;
    display: block;
    margin: 10px auto;
  }
  .cv-left-personal-info p {
    margin-left: 10px;
  }

  .cv-left-menu {
    display: none;
  }

  main .right {
    padding: 10px;
  }

  .right div h3 {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  /* Name */
  .name {
    font-size: 22px;
  }
  .name h2 {
    padding: 5px;
  }
  .cv-left-personal-info {
    flex-direction: column;
  }

  .cv-left-personal-info p {
    margin-left: 50px;
  }

  main .right {
    padding: 5px;
  }

  .right div h3 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
  /* Name */
  .name {
    font-size: 18px;
  }
  .name h2 {
    padding: 3px;
  }
  .cv-left-personal-info {
    flex-direction: column;
  }

  .cv-left-personal-info p {
    margin-left: 15px;
  }

  main .right {
    padding: 3px;
  }

  .right div h3 {
    font-size: 18px;
  }
}
